.pane {
    -fx-background-color: #1D1D1F;
}

.root {
    -fx-background-color: #1D1D1F;
    -fx-font-size: 16;
}

.container {
    -fx-background-color: #3D3C3F;
    -fx-background-radius: 10;
}

.container-scroll {
    -fx-background-color: #3D3C3F;
}

.menu-bar {
    -fx-background-color: #3D3C3F;
}

.menu-btn {
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-text-fill: white;
}

.menu-btn:hover {
    -fx-background-color: #535353;
    -fx-cursor: hand;
}

.text-input {
    -fx-background-color: #313133;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #908F9C;
    -fx-background-radius: 8;
}

.text-input:focused {
    -fx-border-color: #6662FC;
    -fx-border-radius: 8;
}

.label {
    -fx-text-fill: white;
}

.btn {
    -fx-background-color: #6462FC;
    -fx-border-radius: 10;
    -fx-text-fill: white;
    -fx-padding: 10;
}

.btn:hover {
    -fx-cursor: hand;
}

.scroll-pane {
    -fx-background-radius: 10;
    -fx-background-color: #3D3C3F;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #92909A;

}

.scroll-pane .scroll-bar:vertical {
    -fx-background-color: #313133;
    -fx-background-radius: 10;
    -fx-background-insets: 2, 0, 0;
}

.scroll-pane .scroll-bar:horizontal {
    -fx-background-color: #313133;
    -fx-background-radius: 10;
    -fx-background-insets: 2, 0, 0;
}

.split-pane {
    -fx-background-radius: 10;
    -fx-background-color: #3D3C3F;
}

.split-pane .viewport {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.split-pane .split-pane-divider {
    -fx-background-color: #313133;
    -fx-background-insets: 2, 0, 0;
}

.text-area {
    -fx-background-color: transparent;
    -fx-control-inner-background: #3D3C3F;
    -fx-background-radius: 10;
}

.text-area:focused {
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 10;
}

.choice-box {
    -fx-background-color: #313133;
}

.choice-box .context-menu {
    -fx-background-color: #3D3C3F;
    -fx-background-radius: 10;
}

.word-type-label {
    -fx-font-weight: bold;
}

.word-explain-label {
    -fx-font-style: italic;
}

.word-example-label {
}

.word-definition-label {
    -fx-font-weight: bold;
}

.word-pronoun-label {

}